
     body {background-color:rosybrown;font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif; }
     * {font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif}

     #Ueberschrift {color: DarkRed  ; text-align: center; margin: 20px; padding:20px; border: 5px dotted Salmon; background-color: MistyRose; 
     font-size: 20pt }

     h4{color:IndianRed }
    
     #Beschreibung {margin: 20px; border: 5px double grey; padding: 10px;background-color: MistyRose}

     #Kasten {margin: 20px; border: 5px dotted Salmon; padding: 20px; background-color: MistyRose}
     #Bilder{text-align: center}

     dt{font-weight: bold; color: rgb(66, 43, 43)}
     #Szenen {margin: 20px; border: 5px double grey; padding: 10px;background-color: MistyRose; text-align: center}
     
     #Kommentare {margin: 20px; border:5px solid Salmon; border-radius: 8px; padding: 20px; background-color: MistyRose }
     #kommentar-formular {display: flex; flex-direction: column }
     #kommentar-formular > * {padding: 5px; margin: 5px 0}

     #kommentarbereich {margin: 20px;  border:5px solid Salmon; border-radius: 8px; padding: 20px; background-color: MistyRose; display: flex; flex-direction: column }

     section.kommentar {margin:20px; padding: 20px; border-left: 5px solid grey }
     section.kommentar > span{color: grey; font-weight:bold }
     section.kommentar > p {color: black}
  
     #Quellen {padding: 20px}
     #grau {color: black}